<p><input ng-model="line" ng-model-options="{ debounce: 1000 }" type="text" class="form-control" bs-options="option.code as (option.code + ' − ' + option.name) for option in ctrl.lines" placeholder="Tapez le nom d'une ligne"></p>
<div ng-show="ctrl.lineDetails">
  <h3 ng-style="{color: '#' + ctrl.lineDetails.color}">
  Ligne {{ctrl.lineDetails.code}}
  <small>{{ctrl.lineDetails.name}}</small>
  </h3>
  <div ng-show="ctrl.directions">
    <h4>Directions</h4>
    <ul class="object-list">
      <li ng-repeat="direction in ctrl.directions"><a href="/#/lines/{{ctrl.lineDetails.code}}/{{direction.normalisedName}}">{{direction.name}}</a></li>
    </ul>
  </div>
  <div class="checkbox" ng-show="ctrl.direction">
    <label><input type="checkbox" ng-model="ctrl.showNextStopsForAll"> Afficher les prochains arrêts</label>
  </div>
  <div ng-show="ctrl.stations">
    <h4>Stations</h4>
    <ul class="object-list" ng-if="!ctrl.showNextStopsForAll">
      <li ng-repeat="station in ctrl.stations"><a href="/#/stations/line-{{ctrl.lineDetails.code}}/{{station.name}}">{{station.name}}</a></li>
    </ul>
    <next-stops
      ng-if="ctrl.direction && ctrl.showNextStopsForAll"
      ng-repeat="station in ctrl.stations"
      station="{line: ctrl.lineDetails.code, direction: ctrl.direction, name: station.name}"
      auto-refresh="ctrl.autoRefresh"
      auto-refresh-interval="15"
      on-refreshed="ctrl.setLastUpdated(lastUpdated)"
    ></next-stops>
    <refresh-panel
      ng-if="ctrl.direction && ctrl.showNextStopsForAll"
      last-updated="ctrl.lastUpdated"
      refresh-fn="ctrl.refreshStops()"
      auto-refresh="ctrl.autoRefresh"></refresh-panel>
  </div>
  <div ng-show="ctrl.directionDoesNotExist">
    <p>La direction n'existe pas dans la base de données Navitia.io.</p>
  </div>
</div>
