<h1 class="h2">Prochains passages</h1>

<h3 ng-style="{color: '#' + ctrl.lineDetails.color}">Ligne {{ctrl.line}}</h3>
<div ng-if="!ctrl.stationDoesNotExist">
  <next-stops
    ng-repeat="station in ctrl.stopAreas"
    station="station"
    auto-refresh="ctrl.autoRefresh"
    on-refreshed="ctrl.setLastUpdated(lastUpdated)"
  ></next-stops>

  <hr>
  <p>Dernière mise à jour : {{(ctrl.lastUpdated|date:"HH:mm:ss") || "---"}}</p>
  <p>
    <button ng-click="ctrl.refreshStops()" class="btn btn-primary"><fa name="refresh"></fa> Actualiser</button>
    <button ng-click="ctrl.autoRefresh = !ctrl.autoRefresh" class="btn btn-default">
      <fa name="{{ ctrl.autoRefresh ? 'pause' : 'play' }}"></fa> MàJ auto
    </button>
  </p>

</div>
<div ng-if="ctrl.stationDoesNotExist">
  <p>La station {{ctrl.station}} n'existe pas.</p>
</div>
