<h2 class="h3" ng-click="station.disabled = true">{{station.name}} <small>vers {{station.direction}}</small></h2>
<div ng-if="ctrl.stops[station.name + station.direction] && !station.disabled">
  <span ng-repeat="stop in ctrl.stops[station.name + station.direction]" class="stop" ng-class="{'text-danger': stop.waitingTime <= 60 && !stop.delayed, 'text-warning': stop.waitingTime <= 300 && !stop.delayed, 'text-info': stop.delayed}">
    <time datetime="{{stop.nextStopTime}}" ng-class="{'blink': stop.waitingTime < 60 || stop.delayed}">{{stop.nextStopTime|date:"HH:mm"}}</time>&nbsp;
    <span class="message" ng-class="{'blink': stop.waitingTime < 60 || stop.delayed}">({{stop.message}})</span>&nbsp;
    <span class="destination" ng-show="!ctrl.hasSameDestinationForAllStops(ctrl.stops[station.name + station.direction])"><br>{{stop.destination}}</span>
  </span>
</div>
<div ng-if="!ctrl.stops[station.name + station.direction] && !station.disabled">
  <span ng-repeat="x in [1, 2, 3, 4]" class="stop">
    <time>--:--</time>&nbsp;<span class="message">(…)</span>
  </span>
</div>
<div ng-if="station.disabled">
  <p class="text-muted">
    Station désactivée.
    <button type="button" ng-click="station.disabled = false" class="btn btn-sm btn-default">Réactiver</button>
  </p>
</div>
