body {
    padding-bottom: 20px;
}

@media (min-width: 360px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

[ng-cloak] { display: none; }

.stop {
    min-width: 140px;
    max-width: 140px;
    display: inline-block;
    vertical-align: top
}
.stop:not(:last-child) {
    margin-right: 10px;
}
time {
    font-size: 20px;
}
.destination {
    color: gray;
    font-size: 13px;
}

.refresh-panel {
    margin-top: 30px;
}

.object-list li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.1em;
}
.no-margin-top {
    margin-top: 0;
}
.no-margin-bottom {
    margin-bottom: 0;
}
