<h1 class="h2 no-margin-top">Prochains passages</h1>

<next-stops
  ng-repeat="station in ctrl.$storage.stations"
  station="station"
  auto-refresh="ctrl.$storage.autoRefresh"
  auto-refresh-interval="ctrl.$storage.autoRefreshInterval"
  on-refreshed="ctrl.setLastUpdated(lastUpdated)"
></next-stops>

<div ng-show="!ctrl.$storage.stations.length" class="alert alert-info">
<p>Aucune station à vérifier.</p>
</div>

<br>
<div class="panel panel-default">
<div class="panel-body">
<p>Dernière mise à jour : {{(ctrl.lastUpdated|date:"HH:mm:ss") || "---"}}</p>
<button ng-click="ctrl.refreshStops()" class="btn btn-primary"><fa name="refresh"></fa> Actualiser</button>
<button ng-click="ctrl.$storage.autoRefresh = !ctrl.$storage.autoRefresh" class="btn btn-default">
  <fa name="{{ ctrl.$storage.autoRefresh ? 'pause' : 'play' }}"></fa> MàJ auto
</button>
</div>
</div>
